<div class="card">
    <div class="card-body">
        <h1>{{titulo}}</h1>
        <hr>
        <small>Data de publicacao: {{data}}</small><br>
        <hr>
        <small>{{conteudo}}</small>
    </div>
</div>