<h2>Lista de categorias</h2>
<hr>
<a href="/admin/categorias/add" class="btn btn-primary">Nova categoria</a>

{{#each categorias}}
    <div class="card mt-4">
        <div class="card-body">
            <h4>{{this.nome}}</h4>
            <small>Slug: {{this.slug}}</small><br>
            <small>Data: {{this.date}}</small>
        </div>
    </div>
{{/each}}